{% extends "layout.html" %}

{% block article_body %}

<figure class="graphic graphic-b-1 graphic-pad-1" data-o-grid-colspan="12 S11 Scenter M9 Lpush1 Luncenter L10">
  <img alt="" src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2F3c5639da-fdd2-11e6-96f8-3700c5664d30?source=ig&fit=scale-down&width=700"></img>
    <figcaption class="o-typography-caption">Kari-Ruth Pedersen</figcaption>
</figure>

{% markdown %}

{{ annotations | dump }}
<div class="o-grid-row">

<section data-o-grid-colspan="12 S11 Scenter M9 Lpush1 Luncenter L10" id="speech-intro">

{{ intro }}

</section>

<section data-o-grid-colspan="12 M10 Mcenter L8 Lpush1 Luncenter XL7">

<br />

<div class="speech" data-annotation-text data-annotation-id="{{berthaId}}">
<span class="speech__quote speech__quote--top"></span>

{{ speech | safe }}

</div>


</section>
</div>
{% endmarkdown %}
{% endblock %}
