{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

{{ annotations | dump }}
<div class="o-grid-row">


<section data-o-grid-colspan="12 M10 Mcenter L8 Lpush1 Luncenter XL7">

{{ intro }}

<p class="annotation-instructions">Select the <mark class="speech__highlight speech__highlight--pulse">highlights</mark> to read the annotations</p>
<div class="speech" id="speech-container" data-annotation-text data-annotation-id="{{berthaId}}">
<span class="speech__quote speech__quote--top"></span>

{{ speech | safe }}

<span class="speech__quote speech__quote--bottom"></span>
</div>


</section>
</div>
{% endmarkdown %}
{% endblock %}
