{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

{{ annotations | dump }}
<div class="o-grid-row">

<section data-o-grid-colspan="12 S11 Scenter M9 Lpush1 Luncenter L10" id="speech-intro">

{{ intro }}

</section>

<section data-o-grid-colspan="12 Scenter M10 Mcenter L8 XL7">

<br />

<div class="speech" data-annotation-text data-annotation-id="{{berthaId}}">
<span class="speech__quote speech__quote--top"></span>

{{ speech | safe }}

</div>


</section>
</div>
{% endmarkdown %}
{% endblock %}
